---
layout: default
title: Farset Labs - Home
carousel:
 - image: /assets/img/carousels/frontpage/slide1.jpg
 - image: /assets/img/carousels/frontpage/slide2.jpg
 - image: /assets/img/carousels/frontpage/slide3.jpg
image: /assets/img/carousels/frontpage/slide1.jpg
---
    <div class="carousel-caption">
        Farset Labs is a place for creativity and technological tinkering. We’re open to everyone, no matter what you want to do, and we welcome people from all walks of life to use our space, come to <a href="{{site.base}}/events/">our events</a>, and get involved with the maker community in Northern Ireland.
        <a href="{{site.base}}/about/">Read more about us!</a>
    </div>

<section class="quick-links">
<div class="cards row small-up-1 medium-up-2 large-up-4" data-equalizer="get-involved" data-equalize-by-row="true">
    <div class="column" data-equalizer-watch>
        <div class="card">
            <div class="card-divider card-hdr">
                <div class="h5 text-center"><i class="fi-torsos-all"></i> Get Involved</div>
            </div>
            <div class="card-section">
           Becoming a member of the Labs opens the doors to our <a href="/about/facility.html">resources and space</a> any time.
            </div>
            <div class="card-footr">
                <a href="/membership/index.html" class="button expand round">Join as a Member</a>
            </div>
        </div>
    </div>
    <div class="column" data-equalizer-watch>
        <div class="card">
            <div class="card-divider card-hdr">
                <div class="h5 text-center"><i class="fi-monitor"></i> Desk Rental</div>
            </div>
            <div class="card-section">
        Long-term desk rental is also available for members.
            </div>
            <div class="card-footr">
                <a href="/membership/index.html#deskrental" class="button expand round">Rent a Desk</a>
            </div>
        </div>
    </div>
    <div class="column" data-equalizer-watch>
        <div class="card">
            <div class="card-divider card-hdr">
                <div class="h5 text-center"><i class="fi-pricetag-multiple"></i> Day Pass</div>
            </div>
            <div class="card-section">
        If you're only popping in or looking for occasional city-based coworking, we offer Day-Passes <em>(£5 per day or £3 after 17:00)</em>
            </div>
            <div class="card-footr">
                <a href="/hotdesk/index.html" class="button expand round">Get your Day Pass Now</a>
            </div>
        </div>
    </div>

    <div class="column" data-equalizer-watch>
        <div class="card">
            <div class="card-divider card-hdr">
                <div class="h5 text-center"><i class="fi-like"></i> Friends</div>
            </div>
            <div class="card-section">
        Alternatively, you can support us by joining as a <a href="/membership/index.html#friend-of-farset">Friend of Farset</a>, getting access to selected Farset Labs events.
            </div>
            <div class="card-footr">
            <form class="text-center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="6E5VFUY63DKLS">
              <input type="hidden" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
              <input type="submit" name="submit" class="button round expand" value="Support us">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
            </div>
        </div>
    </div>

</div>
</section>
<section class="upcoming-events">
    <div class="row">
        <div class="small-12 medium-6 columns">
            <h3>Location</h3>
            {% include gmap.html %}
        </div>
         <div class="small-12 medium-6 columns">
              <h3>Upcoming Events</h3>
            {% include gcalendar.html %}

          </div>

    </div>
</section>

<script src="{{site.base}}/assets/js/rss_parse.js"></script>
<script src="{{site.base}}/assets/js/jquery-feeds.min.js"></script>
<!--<script type="text/javascript">$(document).ready(function(){latestNews('http://blog.farsetlabs.org.uk/feed/');});</script>-->
