<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" http-equiv="encoding">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{site.keywords}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.social.twitter }}">
    <meta name="twitter:creator" content="@{{ site.social.twitter }}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Farset Labs">
    <meta property="fb:app_id" content="218300458266006">
    <meta property="article:publisher" content="https://www.facebook.com/FarsetLabs">
    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
    <meta property="og:title" content="{{ page.title }}">
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    <meta property="og:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{page.description}}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{site.description}}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}">
    <meta property="og:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/assets/img/logo.png">
    <meta property="og:image" content="{{ site.url }}/assets/img/full-banner.png">
    {% endif %}

    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="{{site.base}}/assets/img/favicon.ico">
    <link rel="stylesheet" href="{{site.base}}/assets/css/general_foundicons.css">
    <link rel="stylesheet" href="{{site.base}}/assets/css/social_foundicons.css">
    <link rel="stylesheet" href="{{site.base}}/assets/css/accessibility_foundicons.css">
    <link rel="stylesheet" href="{{site.base}}/assets/css/voltaic.css">
    <link rel="stylesheet" href="{{site.base}}/assets/css/fsl-style.css">

    <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/assets/js/what-input-4.2.0.js"></script>
    {% include google_analytics.html %}
</head>
<body>
    <!-- banner -->
    <div class="banner">
        <div class="row">
            <div class="small-6 columns">
                <h1 class="hdr"><a href="/"><span class="fsl-purple">Farset</span><span class="fsl-green">Labs</span><small class="subheader"> BELFAST</small></a></h1>
            </div>
            <div class="small-6 columns">
                <ul class="menu icons float-right">
                  <li><a href="//www.github.com/{{site.social.github}}" rel="publisher"><i class="social foundicon-github"></i></a></li>
                  <li><a href="//www.twitter.com/{{site.social.twitter}}" rel="publisher"><i class="social foundicon-twitter"></i></a></li>
                  <li><a href="//www.facebook.com/{{site.social.facebook}}" rel="publisher"><i class="social foundicon-facebook"></i></a></li>
                  <li><a href="https://plus.google.com/+{{site.social.gplus}}" rel="publisher"><i class="social foundicon-google-plus"></i></a></li>
                  <li><a href="//www.flickr.com/{{site.social.flickr}}"><i class="social foundicon-flickr"></i></a></li>
                  <li><a href={{site.social.blogfeed}}><i class="social foundicon-rss"></i></a></li>
                  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                </ul>
            </div>
        </div>
         <a href="https://github.com/FarsetLabs/farsetlabs.github.io/" class="hide-for-small-only"><img style="position:absolute;top:0;right:0;border:0;z-index:5000" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork us on GitHub"></a>
    </div>
    <!-- end banner -->
    <!-- topbar -->
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li{% if page.url == "/" %} class="is-current"{% endif %}>
                    <a href="{{site.base}}/">Home</a>
                </li>
                {% assign sorted_pages = site.pages | sort:"name" %}
                  {% for weight in (1..10) %}
                    {% for p in sorted_pages %}
                      {% if p.category == "nav" and p.weight == weight %}
                      <li{% if p.url == page.url %} class="is-current"{% endif %}>
                        {% if p.haschildren %}
                          <a href="{{ p.url }}">
                              {{ p.title }}
                            </a>
                          <ul class="menu vertical">
                            {% for i_weight in (1..10) %}
                              {% for child in sorted_pages |  sort:"name" %}
                                {% if child.parent == p.title and child.weight == i_weight %}
                                  <li><a href={{child.url}}>{{child.title}}</a></li>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                            {% for child in sorted_pages |  sort:"name" %}
                              {% if child.parent == p.title and child.weight == None %}
                                <li><a href={{child.url}}>{{child.title}}</a></li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        {% else %}
                          <a href="{{ p.url }}">
                            {% if p.icon %}<i class="{{p.icon}}"></i>{% endif %}
                            {{ p.title }}
                          </a>
                        {% endif %}
                        </li>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}

                  {% for link in site.links %}
                    <li{% if link.url == page.url %} class="is-current"{% endif %}>
                    {% if link.list %}
                      <a href="#">{{link.name}}</a>
                      <ul class="menu vertical">
                        {% for item in link.list %}
                        <li><a href={{item.url}}>{{item.name}}</a></li>
                        {% endfor %}
                      </ul>
                      {% else %}
                      <a href={{link.url}}>{{link.name}}</a>
                    {% endif %}
                    </li>

                  {% endfor %}
            </ul>
        </div>
    </div>
    <!-- end topbar -->

        <section id="page-content" class="content">
          {% if page.carousel %}
          <div class="row">
            <div class="flex-container">
              <div class="flexslider">
                <ul class="slides">
                  {% for slides in page.carousel %}
                  <li>
                  <img src="{{ slides.image }}">
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}

            <div class="row">
                <div class="small-12 columns">
                  {% if page.toc %}
                  <dl class="accordion" data-accordion>
                    <dd>
                      <a href="#toc">Table of Contents</a>
                      <div id="toc" class="content toc"></div>
                    </dd>
                  </dl>
                  {% endif %}
                                       {{content}}
                </div>
            </div>
        </section>
    </div>
    <footer id="footer">
        <section class="attribution">
        <div class="row">
            <div class="small-6 columns">
              {% capture footer %}
                {% include pages/footer.md %}
              {% endcapture %}
              {{ footer | unindent | markdownify }}
            </div>
            <div class="small-6 columns text-right">
<a href="http://jekyllrb.com">Jekyll</a> theme by <a href="http://argskwargs.io">averagehuman</a>.
            </div>
        </div>
        </section>
    </footer>
    <script src="/assets/js/foundation-6.4.2-complete.min.js"></script>
    <script src="/assets/js/app.js"></script>
    {% if page.carousel %}
    <!-- Flexslider Library  -->
    <script src="/assets/js/jquery.flexslider-min.js"></script>
    {% endif %}
</body>
</html>

